@using EleWise.ELMA.CRM.Web
<div>
    @Html.Action("TasksOfContact", "Task", new { area = CRMAreaRegistration.AREA_NAME, contactId = Model.Entity.Id })
    @Html.ExtensionZone("Contact.TabView.Tasks")
</div>