@model IAddress
@using EleWise.ELMA.CRM.Models


<div class="address-view">
    <div class="heading-in-panel panel-content">
        @ViewData.ModelMetadata.GetPropertyMetadata().DisplayName
    </div>
    @Html.Partial("EditorTemplates/ViewItems/PostalAddressValue")
</div>