@model IEnumerable<EleWise.ELMA.CRM.Models.IContractorIndividual>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div>@Html.Partial("DisplayTemplates/Entities/ContractorIndividual", item)</div>
    }
}