@model IEnumerable<EleWise.ELMA.CRM.Models.IRelationshipCall>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div>@Html.Partial("DisplayTemplates/Entities/RelationshipCall", item)</div>
    }
}