@model IEnumerable<EleWise.ELMA.CRM.Models.IRelationshipMail>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div>@Html.Partial("DisplayTemplates/Entities/RelationshipMail", item)</div>
    }
}